.form_div {
    border: 1px solid black;
    margin-top: 40px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 7px;
}

.form_form {
    margin: 40px;
    margin-top: 15px;
    display: grid;
    gap: 10px;
    padding: 30px;
    text-align: left;
}

.form_title {
    margin-top: 15px;
    text-align: center;
    color: #3eb6cf;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 24px;
}

.form_button {
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #2a9bc9;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

.form_error {
    color: red;
}

.not_sign_up {
    margin-left: 25%;
}

.date_picker {
    border: 1px solid gray;
    border-radius: 5px;
    height: 24px;
    width: 290px;
}

.user {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}

.card {
    display: flex;
    padding: 10px;
    width: 33%;
    border-radius: 5%;
    flex-direction: column;
    background-color: rgb(243, 239, 239);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
    align-self: center;
    margin: 10px;
}

.profile--picture {
    height: 350px;
    width: 350px;
    border-radius: 10%;
}

.profile--content{
    align-self: center;
    font-size: 18px;
}

.user_update {
    width: 150px;
    margin: 24px; 
    margin-left: 40%;
    text-align: center;  
}
