.nav_bar {
    flex-basis: 20%;
    line-height: 60px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-top: 60px;
}

.nav_bar > ul {
    margin: 18px;
    margin-right: 42px;
}

.vl {
    border-left: 2px solid teal;
    height: 500px;
}